@font-face {
    font-family: SuisseIntlCond;  
    src: url(fonts/SuisseIntlCond-Regular.otf);
    font-weight: normal;  
}

h1.hestia-title {
    font-family: SuisseIntlCond !important;
}

.big-title-slider-content > h1.hestia-title {
    color: #f33 !important;
    font-size: 198px !important;
}

span.sub-title {
    font-family: SuisseIntlCond !important;
    color: #f33 !important;
    font-size: 50px !important;
    text-transform: uppercase;
}

.hestia-about h1, .card-title, .product_title {
    font-family: SuisseIntlCond !important;
}

.icons-author {
    text-align: right;
    font-size: 5px;
}

.header-filter-gradient {
    background: linear-gradient(45deg, rgba(37,141,186) 0%, rgb(23,57,111) 100%) !important;
    background-position-x: 0%;
    background-position-y: 0%;
}

.languages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.languages > div {
    font-size: 30px;
    padding: 30px;
}

.language {
    display: block;
    text-align: center;
}

.flag > img {
    width: 100px;
}

@media screen and (max-width: 600px) {
    h1.hestia-title {
        font-size: 100px !important;
    }

    span.sub-title {
        font-size: 30px !important;
    }
    .languages {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .languages > div {
        font-size: 15px;
        padding: 15px;
    }
    
    .flag > img {
        width: 50px;
    }
}

.footer-big {
    text-align: right !important;
}
